[submodule "yolov5"]
	path = yolov5
	url = https://github.com/ultralytics/yolov5.git
[submodule "yolov7"]
	path = yolov7
	url = https://github.com/bharath5673/yolov7/tree/patch-1
[submodule "strong_sort/deep/reid"]
	path = strong_sort/deep/reid
	url = https://github.com/KaiyangZhou/deep-person-reid
